.crawl
    min-height 400px
.operate
    padding 10px 0
    width 100%
    // padding-left 70%
.modalDiv
    width 100%
    height auto 
    padding 6px 0
    float left
.modalDiv > div
    padding-right 10px
    float left
.search 
    float right
.search-col
    display: inline-block
    width: 200px

.taskTable 
    // padding: 24px;
    position: relative;
    border: 1px solid #dcdee2;
    border-bottom: 0;
	
.modalDiv .ivu-checkbox-wrapper
  width: auto;